{
  "presets": [
    [
      "@babel/preset-typescript"
    ],
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": "3.27"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
