{
    "extends": [
      "eslint:recommended",
      "prettier"
    ],
    "parserOptions": {
      "ecmaVersion": 8
    },
    "rules": {
        "no-unused-vars": [2, { "args": "none" }],
        "new-cap": [2, {
            "capIsNewExceptions": [
                "Router",
                "Before",
                "BeforeFeatures",
                "AfterFeatures",
                "Then",
                "When",
                "Given"
            ]
        }]
    },
    "env": {
        "es6": true,
        "mocha": true,
        "node": true,
        "protractor": true,
        "browser": true
    },
    "globals": {
        "angular": true,
        "io": true,
        "chrome": true
    }
}
