form
    button
        margin-top 10px

    i
        margin-left 10px
        color $abakus-light

        &:hover
            cursor pointer
            color $abakus-dark

    input[type='checkbox']
        transform scale(1.5)
        margin-left 10px

.user-status
    color $abakus-light

    i
        font-size 20px
        color $font-gray
        margin-left 10px

.election-info.admin
    margin-bottom 30px

.elections-list
    width 100%

    span
        padding 10px

    ul
        list-style none
        padding 0

    ul li
        &:hover
            cursor default
            background-color alpha($alternative-background, 0.15)

    div
        display flex
        justify-content space-between

.toggle-election
    width 30%
    margin-top 20px

.election-type
    border-left 4px solid $abakus-dark
    padding 4px  10px

.input-group-addon
    font-size 18px
    color $abakus-light

    &:hover
        cursor pointer
        color $abakus-dark

h3.access-code-wrapper
    margin-bottom 20px

span.access-code
    font-weight 800
    font-size 30px
    padding-left 15px

.copy-icon
    font-size initial
    vertical-align middle
    cursor pointer

    &:hover
        color $abakus-light

.alternatives.admin
    padding-top 10px
    margin-bottom 0


    ul li
        position relative

        &:hover
            cursor default
            background-color alpha($alternative-background, 0.15)
            box-shadow none

        span
            position absolute
            right 20px
            color $abakus-dark


.toggle-show
    margin-left 30px

    &.alone
        margin-left 0

form.add-alternative
    input
        text-align center
        font-size 21px
        line-height 60px
        height 60px

    button
        margin-top 20px
        font-size 16px
        color $font-gray

@media (max-width 1000px)
    .toggle-show
        margin-left 0

.large
    font-size 25px
    text-align center

.big
  font-size 50px
  text-align center

.animated-alert.ng-enter
    transition 0.3s ease all;
    opacity: 0;

.animated-alert.ng-enter.ng-enter-active
    opacity: 1;

.animated-alert.ng-leave
    transition 1s all;
    max-height: 200px;

.animated-alert.ng-leave.ng-leave-active
    max-height: 0;
    opacity: 0;

@keyframes zoom {
    0% {
        transform:scale(1);
    }
    100% {
        transform:scale(0.3);
    }
}
.animated-qr
    animation-name: zoom
    animation-duration: 4s
    animation-iteration-count: infinite
    animation-direction: alternate

.log
  li
      margin-bottom 10px
      border-radius 2px
      border 1px solid transparent
      background-color alpha(#000080, 0.15)
    p
      margin 0
      font-size 16px
      line-height 20px
    h5
      margin 5px
      text-decoration underline
      font-weight 1000

label.btn
    color #fff
    margin 0
    background-color $abakus-dark
    &:active
        background-color darken($abakus-dark, 20%)
    &:hover
        color #fff
        background-color darken($abakus-dark, 20%)
    &:focus
        background-color darken($abakus-dark, 20%)
    &:selected
        background-color darken($abakus-dark, 20%)
    &.active
        background-color darken($abakus-dark, 20%)

.tag
    display inline
    background-color #ddd
    color #394b59
    padding 4px 12px
    margin 5px
    border-radius 4px
    font-size 17px
    font-weight 700