<div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center">
        <form class="form-group" ng-submit="createElection(election)" name="createElectionForm">
            <div class="form-group" ng-class="{'has-warning': createElectionForm.title.$invalid, 'has-success': createElectionForm.title.$valid}">
                <label>Tittel</label>
                <input type="text" class="form-control" name="title" placeholder="Skriv inn tittel" ng-model="election.title" required="required">
            </div>
            <label>Beskrivelse</label>
            <input type="text" class="form-control" name="beskrivelse" placeholder="Skriv inn beskrivelse" ng-model="election.description">
            <br>
            <button type="submit" id="submit" class="btn" value="Submit" >Submit</button>
            <br>
            <br>
            <p>{{formFeedback}}</p>
        </form>
    </div>
</div>