
    <div ng-repeat="alternative in alternatives">
        <p>Alternativ: {{alternative.description}}</p>
    </div>


<div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center">
        <form class="form-group" ng-submit="addAlternative(alternative)">
            <label>Alternative</label>
            <input type="text" class="form-control" name="alternative" placeholder="Skriv inn alternativ" ng-model="alternative.title" required="required">
            <br>
            <button type="submit" id="submit" class="btn" value="Submit" >Submit</button>
        </form>
        <br>
        <br>
        <p>{{formFeedback}}</p>
    </div>
</div>