<div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center">
        <form ng-submit="login($scope.username, $scope.password)">
            <div class="form-group">
                <label for="password">Username</label>
                <input type="text" class="form-control" name="username" ng-model="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" ng-model="password">
            </div>
            <button type="submit" id="submit" class="btn" value="Submit" >Submit</button>
        </form>
    </div>
</div>
<p>{{tagline}}</p>
