<div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center">
        <form ng-submit="login($scope.username, $scope.password)" name="loginForm">
            <div class="form-group" ng-class="{'has-warning': loginForm.username.$invalid, 'has-success': loginForm.username.$valid}">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" ng-model="username" placeholder="Skriv inn brukernavn" required="required">
            </div>
            <div class="form-group" ng-class="{'has-warning': loginForm.password.$invalid, 'has-success': loginForm.password.$valid}">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" ng-model="password" placeholder="Skriv inn passord" required="required">
            </div>
            <button type="submit" id="submit" class="btn" value="Submit" >Submit</button>
        </form>
        <br>
        <br>
        <p>{{formFeedback}}</p>
    </div>
</div>

