.row
  .col-xs-12.col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4.text-center
    h3 Deaktivere alle brukere slik at all alle må reaktivere sin bruker.
    ol
      li Fysisk: Scanne seg inn i lokale med adgangskort
      li Digitalt: Skrive inn kode ved neste valg
    deactivate-users(deactivate-handler='deactivateNonAdminUsers()') Deaktiver brukere
