.jumbotron.center.text-center
    h3 Serial error
    p Click on any tab above to start a permission request.
    br
    p Make sure you have enabled Experimental Web Platform features and are using Google Chrome. Experimental features can be enabled by navigating to: 
        b chrome://flags/#enable-experimental-web-platform-features
    br
    p Please check that the USB card reader is connected. When prompted for permissions, please select the card reader (CP210x).