.row
  .text-center.image-block
    h3 Scan QR-Kode!
    img.animated-qr(
      ng-attr-src='{{ qrdata }}',
      alt='Image QR-kode',
      width='600',
      height='600'
    )

  .text-center
    button.btn.btn-default(ng-click='close()') Lukk
    button.btn.btn-default(ng-click='closeAndDeactivate()') Lukk og deaktiver bruker
