.jumbotron.text-center
    h2 Title: {{election.title}}
    h3 Description:
    p {{election.description}}
    h3 Alternatives
    div(ng-repeat='alternative in election.alternatives')
        p {{alternative.description}}
a(href='/admin/election/{{election.id}}/edit') Edit
