.center.text-center
    form.form-group.vote-result-form(ng-submit='retreiveVote(voteHash)', name='retreiveVoteForm')
        .form-group(required)
            label Skriv inn kvittering
            input.form-control#vote-hash(type='text',
                ng-model='voteHash',
                placeholder='Kvittering',
                required='required')
            p.text-danger(ng-show='retreiveVoteForm.hash.$invalid') Kvittering er påkrevd

        button#submit.btn.btn-default.btn-lg(type='submit',
        ng-disabled='retreiveVoteForm.$invalid') Hent avstemning

    .text-center.vote-result-feedback(ng-if='vote')
        h3 Avstemning
        p.vote-result-election {{vote.alternative.election.title}}
        h3 Valgt alternativ
        p.vote-result-alternative {{vote.alternative.description}}
