html,
body,
webview {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #3e3e3e;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ffffff;
}

.hidden {
  display: none;
}

.setupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.setupContainer > * {
  margin: 10px 0;
}

.header {
  font-size: 22px;
  text-transform: uppercase;
}

.inputContainer {
  width: 480px;
}

.buttonGroup {
  display: flex;
}

button {
  width: 220px;
  outline: 0;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  margin: 20px 20px;
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #bbb;
}

.buttonGroup {
  display: flex;
}

.options {
  max-height: 400px;
  overflow-y: auto;
  list-style: none;
}

.options > li {
  padding-left: 5px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
}

.options > li:hover {
  cursor: pointer;
  background-color: rgba(60, 60, 60, 0.25);
}

.active {
  background-color: rgba(60, 60, 60, 0.25);
}
