form
    button
        margin-top 10px

    i
        margin-left 10px
        color $abakus-light

        &:hover
            cursor pointer
            color $abakus-dark

.input-group-addon
    color $abakus-light

    &:hover
        cursor pointer
        color $abakus-dark

.alternatives.admin
    padding-top 10px
    margin-bottom 0

