.election-info
    margin-bottom 40px

    h2
        text-transform uppercase

.alternatives
    border-top 1px solid rgba(177, 181, 188, 0.3)
    padding-top 40px

    h3
        margin-bottom 25px

    button
        color $abakus-light
        margin-top 30px
        min-width 30%
        transition all 0.4s

        &:focus
            outline none

        &:disabled
            color $font-gray

        &:hover
            border-color #ccc
            background-color #f9f9f9
            color $abakus-dark

    ul li
        line-height 60px
        border-radius 2px
        border 1px solid transparent
        background-color alpha($alternative-background, 0.4)
        transition all 0.5s

        &.selected:hover, &:hover
            cursor pointer
            border 1px solid rgba(236,236,236,0.3)
            background-color alpha($alternative-background, 0.05)

            p
                color $abakus-light
                opacity 1

        &.selected
            background-color alpha($alternative-background, 0.1)

        p
            text-transform uppercase
            margin-bottom 0
            color $alternative-color
            transition all 0.3s
            vertical-align middle


@media (max-width 1000px)
    .alternatives
        button
            min-width 60%

        ul li
            border 1px solid #d0d2d5
            background-color alpha($alternative-background, 0.05)

            &.selected
                background-color alpha($alternative-background, 0.15)
                p
                    color $abakus-light

            p
                color darken($alternative-color, 40%)
                opacity 1

