$dark-gray = #333
$red = #b11b11
$white = #fdfdfd

body
  padding 70px 0 0 0
  background $dark-gray
  color $white

.navbar
  color $dark-gray
  background $red
  a
    color white
    &:hover,
    &:active
      color $dark-gray

label
  color $white
  font-weight 100
  letter-spacing 0.1em
