$font-gray: #666c77;
$dark-gray: #333;
$abakus-light: #cc0000;
$abakus-dark: #bd0005;
$red: #b11b11;
$white: #fdfdfd;
$alternative-background: #373a40;

@import 'https://fonts.googleapis.com/css?family=Raleway:300,200,100';
@import 'https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap';
