extends layout

block scripts
    if NODE_ENV == 'production'
        script(src='/js/ads.min.js')
    else
        // JS
        script(src='/libs/angular/angular.min.js')
        script(src='/libs/angular-route/angular-route.min.js')
        script(src='/libs/angular-bootstrap/ui-bootstrap-tpls.min.js')
        script(src='/libs/angular-local-storage/dist/angular-local-storage.min.js')

        // ANGULAR CUSTOM
        script(src='/js/app.js')
        script(src='/js/services/socketIOService.js')
        script(src='/js/services/electionService.js')
        script(src='/js/services/adminElectionService.js')
        script(src='/js/services/userService.js')
        script(src='/js/services/alertService.js')
        script(src='/js/controllers/electionCtrl.js')
        script(src='/js/controllers/electionsCtrl.js')
        script(src='/js/controllers/createUserCtrl.js')
        script(src='/js/controllers/createElectionCtrl.js')
        script(src='/js/controllers/editElectionCtrl.js')
        script(src='/js/controllers/activateUserController.js')
        script(src='/js/directives/passwordDirective.js')
        script(src='/js/appRoutes.js')

block navbar
    nav
        ul.list-unstyled
            li
                a(href='/admin') Avstemninger
            li
                a(href='/admin/create_user') Registrer bruker
            li
                a(href='/admin/activate_user') Aktiver bruker
            li
                a(href='/admin/create_election') Lag avstemning

block content
    .container(ng-view='')
