extends layout

block scripts
    script(src='/static/login.js')

block content
    .container: .row
        .col-xs-12.col-sm-4.col-sm-offset-4.col-md-4.text-center
            video(id="testing", muted, playsinline, style="width: 100%")
            br
            form(action='/auth/login', method='post', role='form')
                input(type='hidden', name='_csrf', value=csrfToken)
                .form-group
                    label(for='username') Brukernavn:
                    input(name='username', type='text', class='form-control')
                .form-group
                    label(for='password') Passord:
                    input(name='password', type='password', class='form-control')
                
                input(name='usingToken', class='hidden', value='false')
                if feedback
                    p= feedback
                
                div(class="hidden", id="alertInfo")
                    img(id="qrImg" width="50%")
                    div(class="alert alert-danger")
                        p
                            b Velkommen til VOTE
                        p Ta <b>screenshot</b> av denne siden for å lagre brukernavn og passord

                        
                button(class='btn btn-default', type='submit') Logg på
            br

            div(id="confirmScreenshot" class="hidden")
                button(class='btn btn-default' ) Jeg har tatt screenshot
