extends layout

block scripts
  script(src='/static/login.js')

block content
  .container: .row
    .col-xs-12.col-sm-4.col-sm-offset-4.col-md-4.text-center
      video#testing(muted, playsinline, style='width: 100%')
      br
      form(action='/auth/login', method='post', role='form')
        input(type='hidden', name='_csrf', value=csrfToken)
        .form-group
          label(for='username') Brukernavn:
          input.form-control(name='username', type='text')
        .form-group
          label(for='password') Passord:
          input.form-control(name='password', type='password')

        input.hidden(name='usingToken', value='false')
        if feedback
          p= feedback

        #alertInfo.hidden
          img#qrImg(width='50%')
          .alert.alert-danger
            p
              b Velkommen til VOTE
            p Ta <b>screenshot</b> av denne siden for å lagre brukernavn og passord

        button.btn.btn-default(type='submit') Logg på
      br

      #confirmScreenshot.hidden
        button.btn.btn-default Jeg har tatt screenshot
