.row
    .col-xs-12.col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4.text-center
        form.form-group(ng-submit='createUser(user)', name='createUserForm')
            .form-group(ng-class="{'has-warning': createUserForm.cardNr.$invalid, 'has-success': createUserForm.cardNr.$valid}")
                label Kortnummer
                input.form-control(type='text', name='cardNr', placeholder='Skriv inn kortnummer', ng-model='user.cardNumber', required='required')
            .form-group(ng-class="{'has-warning': createUserForm.username.$invalid, 'has-success': createUserForm.username.$valid}")
                label Brukernavn
                input.form-control(type='text', name='username', placeholder='Skriv inn brukernavn', ng-model='user.username', ng-minlength='6')
                p.text-danger(ng-show='createUserForm.username.$invalid') Brukernavn må være minst 6 tegn
            .form-group(ng-class="{'has-warning': createUserForm.password.$invalid, 'has-success': createUserForm.password.$valid}")
                label Password
                input.form-control(type='password', name='password', placeholder='Skriv inn ønsket passord', ng-model='user.password', ng-minlength='6')
                p.text-danger(ng-show='createUserForm.password.$invalid') Brukernavn må være minst 6 tegn
            .form-group(ng-class="{'has-warning': createUserForm.confirmPassword.$invalid, 'has-success': createUserForm.confirmPassword.$valid}")
                label Bekreft password
                input.form-control(type='password', name='confirmPassword', placeholder='Bekreft passord', ng-model='user.confirmPassword', match-password='user.password')
                p.text-danger(ng-show='createUserForm.confirmPassword.$invalid') Må være lik passordet
            br
            button#submit.btn(type='submit', value='Submit') Submit
        br
        br
        p {{formFeedback}}
