.row
    .col-xs-12.col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4.text-center
        h2 Slett alle brukere

        delete-users(delete-handler='deleteNonAdminUsers()', button-text='Slett brukere')
