.row
    .col-xs-12.col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4.text-center
        h2 Tittel: {{election.title}}
        p Beskrivelse: {{election.description}}
        p Alternativ:

        div(ng-repeat='alternative in election.alternatives')
            p {{alternative.description}}

        form.form-group(ng-submit='addAlternative(alternative)')
            label Legg til alternativ
            input.form-control(type='text', name='alternative', placeholder='Skriv inn alternativ', ng-model='alternative.description')

            button#submit.btn(type='submit', value='Submit') Legg til alternativ

        button#submit.btn.btn-default.btn-lg(ng-click='toggleElection()')
            | {{election.active ? "Deaktiver" : "Aktiver"}}
