.row
    .center.text-center
        .election-info
            h2 {{election.title}}
            p {{election.description}}

            button.toggle-election.btn.btn-default.btn-lg(ng-click='toggleElection()')
                | {{election.active ? "Deaktiver" : "Aktiver"}}

        .alternatives.admin
            h3 Alternativer

            ul.list-unstyled
                li(ng-repeat='alternative in election.alternatives')
                    p {{alternative.description}}
                        span.pull-right(ng-if='showCount', ng-bind='alternative.votes')

            form.add-alternative.form-group(name='alternativeForm', ng-submit='addAlternative(alternative)')
                input.form-control(type='text', name='alternative', placeholder='Skriv inn alternativ',
                    ng-model='alternative.description', required)

                button.add-alternative.btn.btn-default(type='submit', value='Submit',
                    ng-disabled='alternativeForm.$invalid') Legg til alternativ
                button.toggle-show.btn.btn-default(type='button', ng-click='toggleCount()')
                    | {{showCount ? 'Skjul resultat': 'Vis resultat'}}





