.jumbotron.center
  .elections-list
    div
      span Navn
      span Status
    br
    ul
      li(ng-repeat='election in elections')
        a.elections-list(href='admin/election/{{election._id}}/edit')
          div
            span {{ election.title }}
            span {{ election.active ? "Aktiv" : "Ikke Aktiv" }}
